<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apress.gerber.dnd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SummaryActivity" />
        <activity android:name=".StatsActivity" />
        <activity android:name=".AbilitiesActivity" />
        <activity android:name=".weaponsActivity" />
        <activity android:name=".ArmorsActivity" />
        <activity android:name=".SpellsActivity" />
        <activity android:name=".TraitsActivity" />
        <activity android:name=".EQctivity" />
        <activity android:name=".DwarfActivity" />
        <activity android:name=".ElfActivity" />
        <activity android:name=".HalflingActivity" />
        <activity android:name=".HumanActivity" />
        <activity android:name=".DragonbornActivity" />
        <activity android:name=".GnomeActivity" />
        <activity android:name=".HalfelfActivity" />
        <activity android:name=".HalforcActivity" />
        <activity android:name=".TieflingActivity" />
        <activity android:name=".SelectAbilitiesActivity" />
        <activity android:name=".SelectWeaponActivity" />
        <activity android:name=".SelectArmorActivity" />
        <activity android:name=".AcolyteActivity" />
        <activity android:name=".CharlatanActivity" />
        <activity android:name=".CriminalActivity" />
        <activity android:name=".EntertainerActivity" />
        <activity android:name=".FolkHeroActivity" />
        <activity android:name=".GuildArtisianActivity" />
        <activity android:name=".HeremitActivity" />
        <activity android:name=".NobleActivity" />
        <activity android:name=".OutlanderActivity" />
        <activity android:name=".SageActivity" />
        <activity android:name=".SailorActivity" />
        <activity android:name=".SelectLanguagesActivity" />
        <activity android:name=".AddWeaponActivity" />
        <activity android:name=".RollStatsActivity" />
        <activity
            android:name=".testTab"
            android:label="@string/title_activity_test_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HillDwarfActivity" />
        <activity android:name=".MountainDwarfActivity" />
        <activity android:name=".HighElfActivity" />
        <activity android:name=".WoodElfActivity" />
        <activity android:name=".DrowElfActivity" />
        <activity android:name=".LightfootHalflingActivity" />
        <activity android:name=".StoutHalflingActivity" />
        <activity android:name=".ForrestGnomeActivity" />
        <activity android:name=".RockGnomeActivity" />
        <activity android:name=".CharacterCreation" />
        <activity android:name=".chooseClassScreen" />
        <activity android:name=".BarbarianClassFeatures" />
        <activity android:name=".barbarianClassOverview" />
        <activity android:name=".barbarianDetailsAbilities" />
        <activity android:name=".BarbarianPrimalPath" />
        <activity android:name=".BarbarianTotemWarrior" />
        <activity android:name=".BarbarianAbilityUnarmoredDefense" />
        <activity android:name=".BarbarianAbilityRage" />
        <activity android:name=".BarbarianAbilityRecklessAttack" />
        <activity android:name=".BarbarianAbilitiesDangerSense" />
        <activity android:name=".BarbarianBerserkerAbilityFrenzy" />
        <activity android:name=".BarbarianBerserkerAbilityMindlessRage" />
        <activity android:name=".BarbarianBerserkerAbilityIntimidatingPresence" />
        <activity android:name=".BarbarianBerserkerAbilityRetailation" />
        <activity android:name=".BarbarianTotemWarriorAbilitySpiritSeeker" />
        <activity android:name=".BarbarianTotemSpirit" />
        <activity android:name=".BarbarianTotemAspectOfTheBeast" />
        <activity android:name=".BarbarianTotemSpiritWalker" />
        <activity android:name=".BarbarianTotemicAttunement" />
        <activity android:name=".BarbarianFeralInstinct" />
        <activity android:name=".BarbarianBrutalCritical" />
        <activity android:name=".BarbarianRelentlessRage" />
        <activity android:name=".BarbarianPersistentRage" />
        <activity android:name=".BarbarianIndomitableMight" />
        <activity android:name=".PrimalChampion" />
        <activity android:name=".BardAbilitiesOverview" />
        <activity android:name=".BardClassFeatures" />
        <activity android:name=".BardSpellCastingActivity" />
        <activity android:name=".BardAbilityDetailsActivity" />
        <activity android:name=".BardBardicInspiration" />
        <activity android:name=".BardJackOfAllTrades" />
        <activity android:name=".BardSongOfRest" />
        <activity android:name=".BardExpertise" />
        <activity android:name=".BardFontOfInspiration" />
        <activity android:name=".BardCountercharm" />
        <activity android:name=".BardMagicalSecrets" />
        <activity android:name=".BardSuperiorInspiration" />
        <activity android:name=".BardCollegeOfLore" />
        <activity android:name=".BardBonusProfitiency" />
        <activity android:name=".BardCuttingWords" />
        <activity android:name=".BardAdditionalMagicalSecret" />
        <activity android:name=".BardPeerlessSkill" />
        <activity android:name=".BardCollegeOfValor" />
        <activity android:name=".BardValorBonusProficiency" />
        <activity android:name=".BardCombatInspiration" />
        <activity android:name=".BardExtraAttack" />
        <activity android:name=".BardBattleMagic" />
        <activity android:name=".ClericAbilitiesOverview" />
        <activity android:name=".ClericSpellcasting" />
        <activity android:name=".ClericFeatures" />
        <activity android:name=".ClericAbilityDetail" />
        <activity android:name=".ClericKnowledgeDomain" />
        <activity android:name=".ClericBlessingOfKnowledge" />
        <activity android:name=".ClericChannelDivinityTurnUndead" />
        <activity android:name=".ClericDestroyUndead" />
        <activity android:name=".ClericDivineIntervention" />
        <activity android:name=".ClericChannelDivinityKnowledgeOfTheAges" />
        <activity android:name=".ClericReadThoughts" />
        <activity android:name=".ClericPotentSpellcasting" />
        <activity android:name=".ClericVisionsOfThePast" />
        <activity android:name=".ClericBonusProficiency" />
        <activity android:name=".ClericDiscipleOfLifew" />
        <activity android:name=".ClericChannelDivinityPreserveLife" />
        <activity android:name=".ClericBlessedHealer" />
        <activity android:name=".ClericDivineStrike" />
        <activity android:name=".ClericSupremeHealing" />
        <activity android:name=".CloericBonusCantrip" />
        <activity android:name=".ClericWardingFlare" />
        <activity android:name=".ClericRadianceOfTheDawn" />
        <activity android:name=".CloericImprovedFlare" />
        <activity android:name=".ClericCoronaOfLight" />
        <activity android:name=".ClericAcolyteOfLight" />
        <activity android:name=".ClericCharmAnimals" />
        <activity android:name=".ClericDampenElements" />
        <activity android:name=".ClericMasterOfNature" />
        <activity android:name=".ClericWrathOfTheStorm" />
        <activity android:name=".ClericDestructiveWrath" />
        <activity android:name=".ClericThunderboldStrike" />
        <activity android:name=".ClericStormborn" />
        <activity android:name=".ClericBlessingOfTheTrickster" />
        <activity android:name=".ClericInvokeDuplicity" />
        <activity android:name=".ClericCloakofShadow" />
        <activity android:name=".ClericImprovedDuplicity" />
        <activity android:name=".ClericWarPriest" />
        <activity android:name=".ClericGuidedStrike" />
        <activity android:name=".ClericWarGodsBlessing" />
        <activity android:name=".ClericAvatarOfBattle" />
        <activity android:name=".ClassOverviewUniversalActivity" />
        <activity android:name=".ClassAbiltiesOverview"></activity>
    </application>

</manifest>