<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apress.gerber.dnd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SummaryActivity" />
        <activity android:name=".StatsActivity" />
        <activity android:name=".AbilitiesActivity" />
        <activity android:name=".weaponsActivity" />
        <activity android:name=".ArmorsActivity" />
        <activity android:name=".SpellsActivity" />
        <activity android:name=".TraitsActivity" />
        <activity android:name=".EQctivity" />
        <activity android:name=".DwarfActivity" />
        <activity android:name=".ElfActivity" />
        <activity android:name=".HalflingActivity" />
        <activity android:name=".HumanActivity" />
        <activity android:name=".DragonbornActivity" />
        <activity android:name=".GnomeActivity" />
        <activity android:name=".HalfelfActivity" />
        <activity android:name=".HalforcActivity" />
        <activity android:name=".TieflingActivity" />
        <activity android:name=".SelectAbilitiesActivity" />
        <activity android:name=".SelectWeaponActivity" />
        <activity android:name=".SelectArmorActivity" />
        <activity android:name=".AcolyteActivity" />
        <activity android:name=".CharlatanActivity" />
        <activity android:name=".CriminalActivity" />
        <activity android:name=".EntertainerActivity" />
        <activity android:name=".FolkHeroActivity" />
        <activity android:name=".GuildArtisianActivity" />
        <activity android:name=".HeremitActivity" />
        <activity android:name=".NobleActivity" />
        <activity android:name=".OutlanderActivity" />
        <activity android:name=".SageActivity" />
        <activity android:name=".SailorActivity" />
        <activity android:name=".SelectLanguagesActivity" />
        <activity android:name=".AddWeaponActivity" />
        <activity android:name=".RollStatsActivity" />
        <activity
            android:name=".testTab"
            android:label="@string/title_activity_test_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HillDwarfActivity" />
        <activity android:name=".MountainDwarfActivity" />
        <activity android:name=".HighElfActivity" />
        <activity android:name=".WoodElfActivity" />
        <activity android:name=".DrowElfActivity" />
        <activity android:name=".LightfootHalflingActivity" />
        <activity android:name=".StoutHalflingActivity" />
        <activity android:name=".ForrestGnomeActivity" />
        <activity android:name=".RockGnomeActivity" />
        <activity android:name=".CharacterCreation" />
        <activity android:name=".chooseClassScreen" />
        <activity android:name=".PrimalChampion" />
        <activity android:name=".ClassOverviewUniversalActivity" />
        <activity android:name=".ClassAbiltiesOverview" />
        <activity android:name=".ClassFeatures" />
        <activity android:name=".ClassAbilitiesListActivity"></activity>
    </application>

</manifest>